<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>familiares</title>

    <!--{% load views.py %}-->

</head>
<body style="background-color: rgb(70, 70, 194);">

    <!--<div>
        {% views.py familiar() %}
    </div>-->
    
    <!--<div>
        Familiar1<br>nombre: {familiar1.nombre} 
        <br>
        email: {familiar1.email} 
        <br>
        fecha de nacimiento: {familiar1.fechaDeNacimiento} 
        <br>
        tiene empleo: {familiar1.tieneEmpleo}
        <br><br>
        Familiar2
        <br>
        nombre: {familiar2.nombre} 
        <br>
        email: {familiar2.email} 
        <br>
        fecha de nacimiento: {familiar2.fechaDeNacimiento} 
        <br>
        tiene empleo: {familiar2.tieneEmpleo}
        <br><br>
        Familiar3
        <br>
        nombre: {familiar3.nombre} 
        <br>
        email: {familiar3.email} 
        <br>
        fecha de nacimiento: {familiar3.fechaDeNacimiento} 
        <br>
        tiene empleo: {familiar3.tieneEmpleo}
    
    </div>-->

</body>
</html>